<html>
<title>Opening and Closing Times</title>
<h1>ACP Brevet Times</h1>
<p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers</p>

<div>
    {% for item in items %}
        <div class="row">
            <div style="float: left; margin-right: 50px">
                <label><strong>Distance</strong> {{ item["distance"] }} km</label>
            </div> <!-- columns 1--4  -->
            <div>
                <label><strong>Begins at</strong> {{ item["date"] }} {{ item["time"] }}</label>
            </div> <!-- columns 5-10 -->
        </div>
        <table border="1px">
            <tbody>
            <tr>
                <th>Control location (miles)</th>
                <th>Control location (km)</th>
                <th>location</th>
                <th>open</th>
                <th>close</th>
            </tr>
            {% for control_time in item["control_time_list"] %}
                <tr align="center">
                    <td> {{ control_time["miles"] }}</td>
                    <td> {{ control_time["km"] }}</td>
                    <td> {{ control_time["location"] }}</td>
                    <td> {{ control_time["open"] }}</td>
                    <td> {{ control_time["close"] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <br/> <!-- Cosmetic -- a little vertical space -->
    {% endfor %}
</div>

</html>